@font-face {
    font-family: 'morgant';
    src: url('/fonts/Gotham/Morgant Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'gothamt';
    src: url('/fonts/Gotham/GothamNarrow-Thin.otf') format('opentype');
    font-weight: lighter;
  }
  @font-face {
    font-family: 'gotham';
    src: url('/fonts/Gotham/GOTHAM BOOK.TTF') format('opentype');
    font-weight: normal;
  }
  @font-face {
    font-family: 'modius';
    src: url('/fonts/Gotham/Modius Bold.ttf') format('opentype');
  }
  @font-face {
    font-family: 'wayfarer';
    src: url('/fonts/Gotham/Wayfarer-Regular.otf') format('opentype');
  }
  @font-face {
    font-family:'gothamth';
    src: url('/fonts/Gotham/Gotham-Thin.otf') format('opentype');
    font-weight: thin;
  }
* {
    color: white;
    box-sizing: border-box;
}
body {
    background: #090E38;
    background-size: cover;
    flex-wrap: wrap;
    font-family: 'gotham';
}
header {
    display: flex;
    justify-content: space-between;
}
header .container-fluid {
    padding: 0px;
}
.menu.d-flex.justify-content-center.align-items-center {
    max-width: 500px;
}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 400px;
    padding: 0;
    font-family: 'morgant';
    font-size: 12px;
}
.menu li a {
    color: white;
    text-decoration: none; 
    justify-content: space-around;
}
.menu li a:hover {
    background: linear-gradient(90deg, rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-background-clip: text;
    color: transparent; 
}
.sobre-mi {
    background: #171C44;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
}
.sobre-mi .container-fluid {
    height: 370px;
}
.col-8 h1 {
    font-family: 'morgant';
    width: fit-content;
    height: 85px;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    font-size: 100px;
    color: #171C44;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 2px;
}
.col-8 h4 {
    font-family: 'modius';
    font-size: 23.5px;
    width: fit-content;
}
.sobre-mi img {
    margin-left: 25px;
}
.pres {
    height: 577px;
}
.d-flex .col-7 .row {
    position: absolute;
}
.comillas {
    position: relative;
    z-index: 1;
    left: 51px;
    top: 25px;
}
.cita {
    background: #171C44;
    width: 380px;
    height: 170px;
    position: relative;
    flex-direction: column;
    font-family: 'gothamth';
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 2;

}
.cita h6 {
    color: #E11E5E;
    font-size: 15px;
}
.img4 {
    position: relative;
    left: 170px;
    top: -82px;
}
.row.datos-de-contacto {
    font-family: 'morgant';
    font-size: 10px;
    list-style: none;
    width: 500px;
}
.datos-de-contacto li {
    width: 250px;
}
.datos-de-contacto p {
    margin: 0;
}
.yan-roh {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;

}
.yan-roh h3 {
    font-family: 'morgant';
    margin: 0;

}
.yan-roh h5 {
    font-family: 'modius';
    font-size: 15px;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-stroke-width: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: fit-content;
    margin: 0;
}
.yan-roh p {
    font-family: 'gothamt';
    font-weight: lighter;
    font-size: 14px;
    width: 400px;
}
.yan-roh h6 {
    font-size: 10px;
}
.yan-roh .col-10 h6 {
    font-family: 'modius';
    font-size: 14px;
    margin: 0px;
}
.col-2.d-flex.align-items-center {
    width: 35px;
    height: 35px;
    background: #E11E5E;
}
.numeros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #171C44;
}
.numeros .container .align-items-center {
    height: 185px;
}
.d-flex.row .col-4 {
    width: 380px;

}
.numeros .container .align-items-center .row .col-4 h2 {
    font-family: 'modius';
    font-size: 70px;
    color: #E11E5E;
}
.d-flex.row .col-4 h1 {
    font-family: 'modius';
    font-size: 74px;
    color: #5C607C;
}
.habilidades {
    height: 570px;
}
.col-6.d-flex.row.justify-content-space-around {
    width: 350px;
    height: 500px;
    margin-left: 330px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'morgant';
}
.col-6.d-flex.row.justify-content-space-around h5 {
    font-family: 'modius';
    font-size: 14px;
    width: fit-content;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.col-6.d-flex.row.justify-content-space-around h3 {
    font-size: 30px;
}
.col-6.d-flex.row.justify-content-space-around p {
    font-family: 'wayfarer';
    font-size: 12px;
}
.col-6.d-flex.justify-content-center.align-items-center ul {
    list-style: none;
}
.antecedentes {
    padding: 40px;
}
.row .col-8 .d-flex {
    display: flex;
    justify-content: center;
}
.row .col-8 .d-flex h2 {
    font-family: 'modius';
    font-size: x-large;
}
.row .col-8 .d-flex table tr {
    width: 100px;
    height: 50px;
}
.row .col-8 .d-flex td {
    width: 180px;
    height: 50px;
    padding: 10px;
}
.row .col-8 .d-flex h5 {
    font-family: 'gotham';
    font-size: small;
}
.row .col-8 .d-flex p{
    color: #E11E5E;
    font-size: x-small;
}
.row .col-8 .d-flex {
    display: flex;
    justify-content: center;
}
.row .col-4 .d-flex h2 {
    font-family: 'modius';
    font-size: x-large;
}
.row .col-4 .d-flex table tr {
    width: 100px;
    height: 50px;
}
.row .col-4 .d-flex td {
    width: 200px;
    height: 50px;
    padding: 10px;
}
.row .col-4 .d-flex h5 {
    font-family: 'gotham';
    font-size: small;
}
.row .col-4 .d-flex p{
    color: #E11E5E;
    font-size: x-small;
}
#contacto h3 {
    font-family: 'modius';
    font-size: medium;
}
.redes-sociales {
    max-width: 700px;
    display: flex;
    list-style: none;
    padding: 0;
}
.redes-sociales li {
    padding: 0 5px;
    font-family: 'gothamt';
    font-size: small;
}
.redes-sociales a{
    text-decoration: none;
    color: white;
}
.d-flex.justify-content-center .redes-sociales li {
    padding: 14px;
    font-family: 'gothamth';
    font-size: 16px;
    width: fit-content;
    letter-spacing: 0.5px;
}
#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161A42;
}
#contacto .container {
    height: 520px;
}
#contacto h3 {
    font-family: 'modius';
    font-size: 19px;
    letter-spacing: 1px;
}
#contacto p {
    font-family: 'gothamth';
    font-size: 17px;
}
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background:#090E38;
    height: 80px;
}
.logos-redes-foot.d-flex {
   justify-content: end;
}
.px-1 {
    height: 30px;
    width: 30px;
}
footer p {
    font-family: 'gothamth';
    font-size: 11px;
    letter-spacing: 0.4px;
}
.d-flex.justify-content-center .cro {
    font-family: 'modius';
    font-size: 68px;
    width: fit-content;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.d-flex.align-items-center.justify-content-around.border-top.border-white.border-opacity-10 {
    height: 60px;
}