@font-face {
    font-family: 'morgant';
    src: url('/fonts/Gotham/Morgant Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'gothamt';
    src: url('/fonts/Gotham/GothamNarrow-Thin.otf') format('opentype');
    font-weight: lighter;
  }
  @font-face {
    font-family: 'gotham';
    src: url('/fonts/Gotham/GOTHAM BOOK.TTF') format('opentype');
    font-weight: normal;
  }
  @font-face {
    font-family: 'modius';
    src: url('/fonts/Gotham/Modius Bold.ttf') format('opentype');
  }
  @font-face {
    font-family: 'wayfarer';
    src: url('/fonts/Gotham/Wayfarer-Regular.otf') format('opentype');
  }
  @font-face {
    font-family:'gothamth';
    src: url('/fonts/Gotham/Gotham-Thin.otf') format('opentype');
    font-weight: thin;
  }
* {
    color: white;
    box-sizing: border-box;
}
body {
    background: #090E38;
    background-size: cover;
    flex-wrap: wrap;
    font-family: 'gotham';
}
header {
    display: flex;
    justify-content: space-between;
}
header .navbar {
    width: 100%;
}
nav ul{
    width: 380px;
    max-width: 1000px;
    padding: 0;
    font-family: 'morgant';
    font-size: 30px;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    background: linear-gradient(90deg, rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-background-clip: text;
    color: transparent; 
}
.nav-link:active {
    background: linear-gradient(90deg, rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-background-clip: text;
    color: transparent; 
}
.navbar-toggler:focus {
    box-shadow: none;
}
nav .border-start {
    height: 50px;
}
.navbar-collapse .btn.btn-danger {
    font-size: 12px;
    width: 250px;
    height: 50px;
}
.ell {
    font-family: 'modius';
    font-size: 12px;
}
.datos-de-contacto li {
    width: 250px;
}
.datos-de-contacto p {
    font-family: 'modius';
    font-size: 10px;
}
.btn.btn-danger {
    font-family: 'morgant';
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    border-radius: 0%;
    background-color: #E11E5E;
}
.btn.btn-danger:hover {
    background:#ae174a;
}
.sobre-mi {
    background: #171C44;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobre-mi .container-fluid .row {
    height: fit-content;
}
.col-sm-8 h1 {
    font-family: 'morgant';
    width: fit-content;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    font-size: 56px;
    color: #171C44;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 2px;
}
.col-sm-8 h4 {
    font-family: 'modius';
    font-size: 24px;
    width: fit-content;
}
.sobre-mi img {
    width: 400px;
}
.col-sm-6.position-relative.order-sm-1 {
    height: 200px;
}
.comillas {
    width: fit-content;
}
.cita {
    background: #171C44;
    width: 360px;
    height: 170px;
    flex-direction: column;
    font-family: 'gothamth';
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 2;

}
.cita h6 {
    color: #E11E5E;
    font-size: 15px;
}
.img4 {
    position: relative;
    top: 200px;
}
.row.datos-de-contacto {
    font-family: 'morgant';
    font-size: 10px;
    list-style: none;
}
.datos-de-contacto p {
    margin: 0;
}

.yan-roh h3 {
    font-family: 'morgant';
    margin: 0;

}
.yan-roh h5 {
    font-family: 'modius';
    font-size: 15px;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: fit-content;
    margin: 0;
}
.yan-roh p {
    font-family: 'gothamt';
    font-weight: lighter;
    font-size: 14px;
    max-width: 400px;
}
.yan-roh h6 {
    font-size: 10px;
}
.yan-roh .col-10 h6 {
    font-family: 'modius';
    font-size: 14px;
    margin: 0px;
}
.yan-roh .my-5.px-3 {
    max-width: 400px;
}
.col-3.d-flex.align-items-center {
    width: 35px;
    height: 35px;
    background: #E11E5E;
}
.numeros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #171C44;
}
.numeros .container .align-items-center {
    height: fit-content;
}
.d-flex.row .col-4 {
    width: 380px;

}
.numeros .container .align-items-center .row .col-4 h2 {
    font-family: 'modius';
    font-size: 70px;
    color: #E11E5E;
}
.d-flex.row .col-4 h1 {
    font-family: 'modius';
    font-size: 74px;
    color: #5C607C;
}
.habilidades .col-sm-6.row {
    width: 350px;
    height: 200px;
    font-family: 'morgant';
}
.habilidades .col-sm-6.row h5 {
    font-family: 'modius';
    font-size: 14px;
    width: fit-content;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.habilidades .col-sm-6.row h3 {
    font-size: 30px;
}
.habilidades .col-sm-6.row p {
    font-family: 'wayfarer';
    font-size: 12px;
}
.habilidades .col-sm-6.d-flex img {
    width: 320px;
}
.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	}
.antecedentes {
    padding: 40px;
}
.antecedentes .row .d-flex h5 {
    font-family: 'gothamth';
    font-size: small;
}
.antecedentes .row .d-flex p {
    color: #E11E5E;
    font-size: x-small;
    font-family: 'gothamth';
}
.antecedentes .row .d-flex h2 {
    font-family: 'modius';
    font-size: 30px;
}
.antecedentes .row .d-flex table tr {
    width: 100px;
    height: 50px;
}
.antecedentes .row .d-flex td {
    width: 180px;
    height: 50px;
    padding: 10px;
    font-family: 'gothamth';
    align-content: start;
}
.antecedentes .row .d-flex h5 {
    font-family: 'gothamth';
    font-size: small;
}
.antecedentes .row .d-flex p {
    color: #E11E5E;
    font-size: x-small;
}
.antecedentes .row .d-flex img {
    width: 85px;
    height: 2px;
}

#contacto h3 {
    font-family: 'modius';
    font-size: medium;
}
.redes-sociales {
    max-width: 700px;
    display: flex;
    list-style: none;
    padding: 0;
}
.redes-sociales li {
    padding: 0 5px;
    font-family: 'gothamt';
    font-size: small;
}
.redes-sociales a {
    font-family: 'gothamth';
    text-decoration: none;
    color: white;
}
.d-flex.justify-content-center .redes-sociales li {
    padding: 14px;
    font-family: 'gothamth';
    font-size: 11px;
    width: fit-content;
    letter-spacing: 0.5px;
}
#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161A42;
}
#contacto h3 {
    font-family: 'modius';
    font-size: 19px;
    letter-spacing: 1px;
}
#contacto p {
    font-family: 'gothamth';
    font-size: 17px;
}
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background:#090E38;
    height: 80px;
}
footer .container-fluid .d-flex {
    flex-wrap: wrap;
}
.logos-redes-foot.d-flex {
   justify-content: end;
}
.px-1 {
    height: 30px;
    width: 30px;
}
footer p {
    font-family: 'gothamth';
    font-size: 11px;
    letter-spacing: 0.4px;
}
.d-flex.justify-content-center .cro {
    font-family: 'modius';
    font-size: 68px;
    width: fit-content;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.d-flex.align-items-center.justify-content-around.border-top.border-white.border-opacity-10 {
    height: 60px;
}
.font-ul-responsive {
    font-size: 30px !important;
    @media (min-width: 576px) {
        font-size: 12px !important;
    }
}
.font-responsive {
    font-size: 25px !important;
    @media (min-width: 576px) {
        font-size: 68px !important;
    }
}
.font-subtitle-responsive {
    font-size: 14px !important;
    @media (min-width: 576px) {
        font-size: 24px !important;
    }
}
.font-li-responsive {
    font-size: 11px !important;
    @media (min-width: 576px) {
        font-size: 16px !important;
    }
}
.font-responsive-title {
    font-size: 56px !important;
    @media (min-width: 576px) {
        font-size: 100px !important;
    }
}
.width-yan-roh {
    width: 400px !important;
    @media (min-width: 576px) {
        width: 225px !important;
    }
}
.height-yan-roh {
    height: fit-content !important;
    @media (min-width: 576px) {
        height: 95px !important;
    }
}
.position-yan-roh {
    position: relative !important;
    @media (min-width: 576px) {
        position: absolute !important;
        left: 165px !important;
        top: 110px !important;
        z-index: 2 !important;
    }
}
.height-pres {
    height: 1170px !important;
    @media (min-width: 576px) {
        height: 562px !important;
    }
}
.height-numeros {
    height: 1170px !important;
    @media (min-width: 576px) {
        height: 562px !important;
    }
}
.height-hab {
    height: 200px !important;
    @media (min-width: 576px) {
        height: 450px !important;
    }
}
.width-hab {
    width: 320px !important;
    @media (min-width: 576px) {
        width: 280px !important;
    }
}
.navbar-width {
    width: 380px !important;
    @media (min-width: 576px) {
        width: 780px !important;
    }
}
