@font-face {
    font-family: 'morgant';
    src: url('/fonts/Gotham/Morgant Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'gothamt';
    src: url('/fonts/Gotham/GothamNarrow-Thin.otf') format('opentype');
    font-weight: lighter;
  }
  @font-face {
    font-family: 'gotham';
    src: url('/fonts/Gotham/GOTHAM BOOK.TTF') format('opentype');
    font-weight: normal;
  }
  @font-face {
    font-family: 'modius';
    src: url('/fonts/Gotham/Modius Bold.ttf') format('opentype');
  }
  @font-face {
    font-family: 'wayfarer';
    src: url('/fonts/Gotham/Wayfarer-Regular.otf') format('opentype');
  }
* {
    color: white;
    box-sizing: border-box;
}
body {
    background: #090E38;
    background-size: cover;
    flex-wrap: wrap;
    margin: 20px;
    font-family: 'gotham';
}
header {
    display: flex;
    justify-content: space-between;
}
.menu.d-flex.justify-content-center.align-items-center {
    max-width: 500px;
}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 400px;
    padding: 0;
    font-family: 'morgant';
    font-size: 8.28px;
}
.menu li a {
    color: white;
    text-decoration: none; 
    justify-content: space-around;
}
.menu li a:hover {
    background: linear-gradient(90deg, rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-background-clip: text;
    color: transparent; 
}
.row.border-bottom.border-black {
    max-width: 1195.41px;
}
.sobre-mi {
    background: #171C44;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    align-items: center;
}
.sobre-mi div {
}
.col-8 h1 {
    font-family: 'morgant';
    width: 630px;
    height: 85px;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    font-size: 90px;
    color: #171C44;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: transparent;
    -webkit-background-clip: text;
    margin: 0;
}
.col-8 h4 {
    font-family: 'modius';
    font-size: 21px;
    width: 630px;
    margin: 0;
}
.sobre-mi img {
    width: 150px;
    margin-left: 25px;
}
.pres {
    display: flex;
    margin: 50px 0;
}
.d-flex .col-6 .row {
    position: absolute;
}
.comillas {
    position: relative;
    z-index: 1;
    left: 20px;
    top: 10px;
}
.cita {
    background: #171C44;
    font-size: small;
    width: 300px;
    height: 120px;
    display: flex;
    padding: 10px;
    position: relative;
    flex-direction: column;
    font-family: 'gothamt';
    font-weight: lighter;

}
.img4 {
    position: relative;
    left: 150px;
    top: 50px;
}
.yan-roh {
    position: relative;
    width: 400px;
    display: flex;
    padding: 20px;
    flex-direction: column;

}
.yan-roh h3 {
    font-family: 'morgant';
    font-size: x-large;
    margin: 0;

}
.yan-roh h5 {
    font-family: 'morgant';
    font-size: x-small;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 190px;
    margin: 0;
}
.yan-roh p {
    font-family: 'gothamt';
    font-weight: lighter;
    font-size: 11px;
}
.yan-roh ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: 'morgant';
}
.yan-roh li {
    width: 100px;
    cursor: pointer;
}
.yan-roh h6 {
    font-size: 10px;
}
.numeros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #171C44;
    height: 130px;
}
.d-flex.row .col-4 {
    width: 340px;

}
.d-flex.row .col-4 h2 {
    font-family: 'modius';
    font-size: 50px;
    margin: 0 10px;
    color: #E11E5E;
}
.d-flex.row .col-4 h1 {
    font-family: 'modius';
    font-size: 50px;
    margin: 0 10px;
    color: #5C607C;
}
.habilidades {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-6.d-flex.row.justify-content-space-around {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'morgant';
}
.col-6.d-flex.row.justify-content-space-around h5 {
    font-size: medium;
    width: 240px;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.col-6.d-flex.row.justify-content-space-around p {
    font-family: 'gothamt';
}
.col-6.d-flex.justify-content-center.align-items-center ul {
    list-style: none;
}
.antecedentes {
    padding: 40px;
}
.row .col-8 .d-flex {
    display: flex;
    justify-content: center;
}
.row .col-8 .d-flex h2 {
    font-family: 'modius';
    font-size: x-large;
}
.row .col-8 .d-flex table {

}
.row .col-8 .d-flex table tr {
    width: 100px;
    height: 50px;
}
.row .col-8 .d-flex td {
    width: 180px;
    height: 50px;
    padding: 10px;
}
.row .col-8 .d-flex h5 {
    font-family: 'gotham';
    font-size: small;
}
.row .col-8 .d-flex p{
    color: #E11E5E;
    font-size: x-small;
}
.row .col-8 .d-flex {
    display: flex;
    justify-content: center;
}
.row .col-4 .d-flex h2 {
    font-family: 'modius';
    font-size: x-large;
}
.row .col-8 .d-flex table {

}
.row .col-4 .d-flex table tr {
    width: 100px;
    height: 50px;
}
.row .col-4 .d-flex td {
    width: 200px;
    height: 50px;
    padding: 10px;
}
.row .col-4 .d-flex h5 {
    font-family: 'gotham';
    font-size: small;
}
.row .col-4 .d-flex p{
    color: #E11E5E;
    font-size: x-small;
}
#contacto {

}
#contacto h3 {
    font-family: 'modius';
    font-size: medium;
}

.redes-sociales {
    max-width: 700px;
    display: flex;
    list-style: none;
}
.redes-sociales li {
    padding: 0 5px;
    font-family: 'gothamt';
    font-size: small;
}
.redes-sociales a{
    text-decoration: none;
    color: white;
}
#contacto {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contacto .container {
    width: 1195.41px;
}
#contacto h3 {
    font-family: 'morgant';
    font-size: 11.46px;
}
#contacto p {
    font-size: 9.99px;
}
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 48.28px;
}
.logos-redes-foot {
   justify-content: end;
}
.logos-redes-foot div {
    width: 18px;
    height: 18px;
    padding: 2px;
}
footer p {
    font-size: 6.63px;
}
.d-flex.justify-content-center .cro {
    font-family: 'modius';
    font-size: 43px;
    width: fit-content;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}