@font-face {
    font-family: 'morgant';
    src: url('/fonts/Gotham/Morgant Regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'gotham';
    src: url('/fonts/Gotham/Gotham-Black.otf') format('opentype');
    font-weight: bold;
  }
  @font-face {
    font-family: 'modius';
    src: url('/fonts/Gotham/Modius Bold.ttf') format('opentype');
  }
  @font-face {
    font-family: 'gothamt';
    src: url('/fonts/Gotham/GothamNarrow-Thin.otf') format('opentype');
    font-weight: lighter;
  }
  @font-face {
    font-family:'gothamth';
    src: url('/fonts/Gotham/Gotham-Thin.otf') format('opentype');
    font-weight: thin;
  }
* {
    color: white;
    box-sizing: border-box;
    flex-wrap: wrap;
}
body {
    background: #161A42;
    background-size: cover;
    flex-wrap: wrap;
    font-family: 'gotham';
}
header {
    display: flex;
    justify-content: space-between;
    background: #090E38;
}
header .container-fluid {
    padding: 0px;
}
.menu.d-flex.justify-content-center.align-items-center {
    max-width: 500px;
}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 400px;
    padding: 0;
    font-family: 'morgant';
    font-size: 12px;
}
.menu li a {
    color: white;
    text-decoration: none; 
    justify-content: space-around;
}
.menu li a:hover {
    background: linear-gradient(90deg, rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-background-clip: text;
    color: transparent; 
}
.encabezado {
    width: 1000px;
    background: #161A42;
}
.encabezado h5 {
    font-family: 'modius';
    font-size: 18px;
    width: fit-content;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.encabezado h2 {
    font-family: 'morgant';
    font-size: 44px;
}
.encabezado p {
    font-family: 'gothamt';
    font-size: 18px;
}
.info {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: 'gothamt';
}
.proyecto {
    width: 700px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}
#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161A42;
}
#contacto .container {
    height: 520px;
}
#contacto h3 {
    font-family: 'modius';
    font-size: 19px;
    letter-spacing: 1px;
}
#contacto p {
    font-family: 'gothamth';
    font-size: 17px;
}
nav .pagination {
  
}
.page-link {
    background: #161A42;
    font-family: 'gotham';
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: none;
}
.page-item p {
    font-family: 'gothamth';
}
.page-link:hover {
    color: white;
    background: #161A42;
    box-shadow: none;
}
.page-link:visited {
    color: white;
    background: #161A42;
    border: none;
    box-shadow: #161A42;
}
.page-link:focus {
    color: white;
    background: #161A42;
    border: none;
    box-shadow: none;
}
.redes-sociales {
    max-width: 700px;
    display: flex;
    list-style: none;
    padding: 0;
}
.redes-sociales li {
    padding: 0 5px;
    font-family: 'gothamt';
    font-size: small;
}
.redes-sociales a{
    text-decoration: none;
    color: white;
}
.d-flex.justify-content-center .redes-sociales li {
    padding: 14px;
    font-family: 'gothamth';
    font-size: 16px;
    width: fit-content;
    letter-spacing: 0.5px;
}
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background:#090E38;
    height: 80px;
}
.logos-redes-foot.d-flex {
   justify-content: end;
}
.px-1 {
    height: 30px;
    width: 30px;
}
footer p {
    font-family: 'gothamth';
    font-size: 11px;
    letter-spacing: 0.4px;
}
.d-flex.justify-content-center .cro {
    font-family: 'modius';
    font-size: 68px;
    width: fit-content;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.d-flex.align-items-center.justify-content-around.border-top.border-white.border-opacity-10 {
    height: 60px;
}