@font-face {
    font-family: 'morgant';
    src: url('/fonts/Gotham/Morgant Regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'gotham';
    src: url('/fonts/Gotham/Gotham-Ultra.otf') format('opentype');
    font-weight: bold;
  }
  @font-face {
    font-family: 'modius';
    src: url('/fonts/Gotham/Modius Bold.ttf') format('opentype');
  }
  @font-face {
    font-family: 'gothamt';
    src: url('/fonts/Gotham/GothamNarrow-Thin.otf') format('opentype');
    font-weight: lighter;
  }
  @font-face {
    font-family:'gothamth';
    src: url('/fonts/Gotham/Gotham-Thin.otf') format('opentype');
    font-weight: thin;
  }
* {
    color: white;
    box-sizing: border-box;
    flex-wrap: wrap;
}
body {
    background: #090E38;
    background-size: cover;
    flex-wrap: wrap;
    font-family: 'gotham';
}
header {
    display: flex;
    justify-content: space-between;
}
header .navbar {
    width: 100%;
}
nav ul {
    width: 380px;
    max-width: 1000px;
    padding: 0;
    font-family: 'morgant';
    font-size: 30px;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    background: linear-gradient(90deg, rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-background-clip: text;
    color: transparent; 
}
.nav-link:active {
    background: linear-gradient(90deg, rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-background-clip: text;
    color: transparent; 
}
.navbar-toggler:focus {
    box-shadow: none;
}
nav .border-start {
    height: 50px;
}
.navbar-collapse .btn.btn-danger {
    font-size: 12px;
    width: 250px;
    height: 50px;
}
.ell {
    font-family: 'modius';
    font-size: 12px;
}
.datos-de-contacto li {
    width: 250px;
}
.datos-de-contacto p {
    font-size: 10px;
    margin: 0px;
}
.btn.btn-danger {
    font-family: 'morgant';
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    border-radius: 0%;
    background-color: #E11E5E;
}
.btn.btn-danger:hover {
    background:#ae174a;
}
.titulo {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.titulo h3 {
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 5px;
    font-family: 'modius';
    font-size: x-large;
    
}
.titulo h1 {
    margin: 5px;
    font-family: 'modius';
}
.info {
    display: flex;
    justify-content: center;
}
.contacto {
    width: 270px;
    height: 250px;
    padding: 10px;
    border: 3px solid;
    border-image: linear-gradient(90deg, rgb(230, 128, 97), rgb(221, 187, 27), 20%, rgb(73, 202, 128), rgb(56, 171, 230)) 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.contacto h5 {
    font-size: 17px;
    font-weight: bolder;
    font-family: 'modius';
}
.contacto p {
    font-size: 14px;
    font-family: 'gothamt';
    letter-spacing: 1px;
}
.redes {
    width: 270px;
    height: 250px;
    border: 3px solid;
    border-image: linear-gradient(90deg, rgb(230, 128, 97), rgb(221, 187, 27), 20%, rgb(73, 202, 128), rgb(56, 171, 230)) 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
.redes h5 {
    font-size: 17px;
    font-weight: bolder;
    font-family: 'modius';
    text-align: center;
}
.redes p {
    font-size: 14px;
    font-family: 'gothamt';
    letter-spacing: 1px;
}
.col-12.p-5.border.border-white.border-opacity-25 {
    max-width: 850px;
}
.py-sm-1 {
    font-family: 'modius';
    font-size: 18px;
}
.form-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}
form {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: 'gothamt';
}
.col-sm-9.p-5.border.border-white.border-opacity-25 {
    max-width: 860px;
}
.form-group {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}
label {
  color: aliceblue;
  font-size: 10px;
  margin-bottom: 10px;
}
input, textarea {
    padding: 15px 10px;
    background-color: #171C44;
    border: 0;
    outline: none;
    color: white;
}
.col-sm-8 .mb-3 .form-control {
    background-color: #171C44;
}
.form-check-input {
    width: 15px;
    height: 15px;
    padding: 0;
    background: transparent;
    background-image: var(--bs-form-check-bg-image);

}
.form-check-input:focus {
    box-shadow: none;
}
.form-check-label {
    font-family: 'Gothamth';
    font-size: 12px;
}
.btn {
    padding: 17px 15px;
    width: 200px;
    background: #E11E5E;
    cursor: pointer;
    font-family: 'morgant';
    font-size: xx-small;
}
.btn.btn-danger {
    font-family: 'morgant';
    width: 150px;
    height: 40px;
    font-size: 8px;
    border-radius: 0%;
    background-color: #E11E5E;
}
#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161A42;
}
#contacto h3 {
    font-family: 'modius';
    font-size: 19px;
    letter-spacing: 1px;
}
#contacto p {
    font-family: 'gothamth';
    font-size: 17px;
}
.redes-sociales {
    max-width: 700px;
    display: flex;
    list-style: none;
    padding: 0;
}
.redes-sociales li {
    padding: 0 5px;
    font-family: 'gothamt';
    font-size: small;
}
.redes-sociales a{
    text-decoration: none;
    color: white;
}
.d-flex.justify-content-center .redes-sociales li {
    padding: 14px;
    font-family: 'gothamth';
    font-size: 16px;
    width: fit-content;
    letter-spacing: 0.5px;
}
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background:#090E38;
    height: 80px;
}
.logos-redes-foot.d-flex {
   justify-content: end;
}
.px-1 {
    height: 30px;
    width: 30px;
}
footer p {
    font-family: 'gothamth';
    font-size: 11px;
    letter-spacing: 0.4px;
}
.d-flex.justify-content-center .cro {
    font-family: 'modius';
    font-size: 68px;
    width: fit-content;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.d-flex.align-items-center.justify-content-around.border-top.border-white.border-opacity-10 {
    height: 60px;
}
.font-ul-responsive {
    font-size: 30px !important;
    @media (min-width: 576px) {
        font-size: 12px !important;
    }
}
.font-responsive {
    font-size: 25px !important;
    @media (min-width: 576px) {
        font-size: 68px !important;
    }
}
.font-subtitle-responsive {
    font-size: 12px !important;
    @media (min-width: 576px) {
        font-size: 16px !important;
    }
}
.navbar-width {
    width: 380px !important;
    @media (min-width: 576px) {
        width: 780px !important;
    }
}