@font-face {
    font-family: 'morgant';
    src: url('/fonts/Gotham/Morgant Regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'gotham';
    src: url('/fonts/Gotham/Gotham-Ultra.otf') format('opentype');
    font-weight: bold;
  }
  @font-face {
    font-family: 'modius';
    src: url('/fonts/Gotham/Modius Bold.ttf') format('opentype');
  }
  @font-face {
    font-family: 'gothamt';
    src: url('/fonts/Gotham/GothamNarrow-Thin.otf') format('opentype');
    font-weight: lighter;
  }
  @font-face {
    font-family:'gothamth';
    src: url('/fonts/Gotham/Gotham-Thin.otf') format('opentype');
    font-weight: thin;
  }
* {
    box-sizing: border-box;
    flex-wrap: wrap;
}
body {
    background: #090E38;
    background-size: cover;
    color: white;
    flex-wrap: wrap;
    font-family: 'gotham';
}
header {
    display: flex;
    justify-content: space-between;
}
header .navbar {
    width: 100%;
}
nav ul{
    width: 380px;
    max-width: 1000px;
    padding: 0;
    font-family: 'morgant';
    font-size: 30px;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    background: linear-gradient(90deg, rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-background-clip: text;
    color: transparent; 
}
.nav-link:active {
    background: linear-gradient(90deg, rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-background-clip: text;
    color: transparent; 
}
.navbar-toggler:focus {
    box-shadow: none;
}
nav .border-start {
    height: 50px;
}
.navbar-collapse .btn.btn-danger {
    font-size: 12px;
    width: 250px;
    height: 50px;
}
.ell {
    font-family: 'modius';
    font-size: 12px;
}
.datos-de-contacto li {
    width: 250px;
}
.datos-de-contacto p {
    font-size: 10px;
    margin: 0px;
}
.btn.btn-danger {
    font-family: 'morgant';
    width: fit-content;
    font-size: 16px;
    border-radius: 0%;
    background-color: #E11E5E;
}
.btn.btn-danger:hover {
    background:#ae174a;
}
.titulo h1 {
    font-family: 'morgant';
    width: fit-content;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    font-size: 38px;
    color: #090E38;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: transparent;
    -webkit-background-clip: text;
}
.titulo h4 {
    font-size: 18px;
    margin: 0;
    font-family: 'modius';
}
.scroll {
    height: 2000px;
    flex-wrap: nowrap;
    max-height: 100%;
    overflow-x: scroll;
}
.proyecto {
    height: fit-content;
}
.contenido {
    width: 480px;
    height: 400px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.contenido h5 {
    font-family: 'modius';
    margin: 0;
    text-align: center;
    font-size: 20px;
}
.contenido p {
    font-family: 'gothamt';
    color: grey;
    font-size: 20px;
}
span {
    font-size: 40px;
}
.btn {
    margin: 0;
    width: 200px;
    height: 45px;
    font-size: xx-small;
    background: #E11E5E;
    color:white;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 0;
}
.imagen-contenido {
    width: 750px;
    height: 470px;
    background: -webkit-linear-gradient(-45deg, rgb(56, 171, 230), rgb(73,202,128) 35%,rgb(221, 187, 27) 92%, rgb(255, 107, 107) );
}
#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161A42;
}
#contacto h3 {
    font-family: 'modius';
    font-size: 19px;
    letter-spacing: 1px;
}
#contacto p {
    font-family: 'gothamth';
    font-size: 17px;
}
.redes-sociales {
    max-width: 700px;
    display: flex;
    list-style: none;
    padding: 0;
}
.redes-sociales li {
    padding: 0 5px;
    font-family: 'gothamt';
    font-size: small;
}
.redes-sociales a{
    text-decoration: none;
    color: white;
}
.d-flex.justify-content-center .redes-sociales li {
    padding: 14px;
    font-family: 'gothamth';
    font-size: 11px;
    width: fit-content;
    letter-spacing: 0.5px;
}
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background:#090E38;
    height: 80px;
}
.logos-redes-foot.d-flex {
   justify-content: end;
}
.px-1 {
    height: 30px;
    width: 30px;
}
footer p {
    font-family: 'gothamth';
    font-size: 11px;
    letter-spacing: 0.4px;
}
.d-flex.justify-content-center .cro {
    font-family: 'modius';
    font-size: 68px;
    width: fit-content;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.d-flex.align-items-center.justify-content-around.border-top.border-white.border-opacity-10 {
    height: 60px;
}
.font-ul-responsive {
    font-size: 30px !important;
    @media (min-width: 576px) {
        font-size: 12px !important;
    }
}
.font-responsive {
    font-size: 25px !important;
    @media (min-width: 576px) {
        font-size: 68px !important;
    }
}
.font-subtitle-responsive {
    font-size: 11px !important;
    @media (min-width: 576px) {
        font-size: 16px !important;
    }
}
.font-responsive-title {
    font-size: 38px !important;
    @media (min-width: 576px) {
        font-size: 77px !important;
    }
}
.font-responsive-h4 {
    font-size: 18px !important;
    @media (min-width: 576px) {
        font-size: 26px !important;
    }
}
.position-img {
    position: relative !important;
    @media (min-width: 576px) {
        position: absolute !important;
        right: 140px !important;
        top: -25px !important;
        z-index: -1 !important;
    }
}
.height-proyecto {
    height: fit-content !important;
    @media (min-width: 576px) {
        height: 480px !important;
    }
}
.navbar-width {
    width: 380px !important;
    @media (min-width: 576px) {
        width: 780px !important;
    }
}