@font-face {
    font-family: 'morgant';
    src: url('/fonts/Gotham/Morgant Regular.otf') format('opentype');
  }
@font-face {
    font-family: 'modius';
    src: url('/fonts/Gotham/Modius Bold.ttf') format('opentype');
  }
  @font-face {
    font-family: 'gotham';
    src: url('/fonts/Gotham/GOTHAM BOOK.TTF') format('opentype');
    font-weight: normal;
  }
  @font-face {
    font-family:'gothamt';
    src: url('/fonts/Gotham/Gotham-Light.otf') format('opentype');
    font-weight: lighter;
  }
* {
color: white;
box-sizing: border-box;
flex-wrap: wrap;
}
body {
    background: #090E38;
    background-size: cover;
    flex-wrap: wrap;
    margin: 20px;
    font-family: 'gotham';
}
header {
    display: flex;
    justify-content: space-between;
}
.menu.d-flex.justify-content-center.align-items-center {
    max-width: 500px;
}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 400px;
    padding: 0;
    font-family: 'morgant';
    font-size: 8.28px;
}
.menu li a {
    color: white;
    text-decoration: none; 
    justify-content: space-around;
}
.menu li a:hover {
    background: linear-gradient(90deg, rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-background-clip: text;
    color: transparent; 
}
.menu-interno {
    display: none;
    color: white;
    position: absolute;
    list-style: none;
    width: 200px;
    background-color: black;
}
.menu li:hover .menu-interno {
    display: block;
}
.row.border-bottom.border-black {
    max-width: 1195.41px;
}
#presentacion h1 {
    font-size: 50px;
}
#presentacion .yo-soy {
    display: flex;
    align-items: center;
    left: 50px;
    top: 50px;
}
.justify-content-start {
    margin: 15px 0;
}
.infobasica {
    font-family: 'morgant';
    font-size: 7.08px;
    padding: 0;
}
#tabmepresento :checked ~ nav label.tabmepresento {
    color: #E11E5E;
}
.infobasica ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}
.infobasica li {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 5px;
}
.infobasica li:hover {
    background: #171C44;
}
.pr {
    border: 1px solid;
    border-image: linear-gradient(90deg, rgb(221, 187, 27), rgb(73, 202, 128)) 1;
    justify-content: center;
    width: 100px;
}
#sobre-mi {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
#sobre-mi .container .row {
    max-width: 1195.41px;
}
.imgj {
    position: relative;
}
.imagen19 {
    position: absolute;
    width: 208.93px;
    height: 327.19px;
}
.imagen01 {
    position: absolute;
    top: 16px;
    left: 24px;
    width: 222.9px;
    height: 283.77px;
}
.imagen02 {
    position: absolute;
    left: 190px;
    top: -18px;
    height: 83.66px;
    width: 83.66px;
}
.lee-sobre-mi {
    width: 400px;
    height: 327.19px;
    display: flex;
}
.bla {
    position: relative;
    top: -100px;

}
.titulo {
    max-width: 600px;
    width: 400px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
}
.titulo h1 {
    font-family: 'modius';
    font-size: 27.68px;
    margin-bottom: 20px;
    margin: 0;
}
.titulo h4 {
    font-family: 'morgant';
    font-size: 8.28px;
    color: grey;
    margin: 0;
}
.titulo h2 {
    font-family: 'morgant';
    font-weight: lighter;
    font-size: 27.68px;
    width: fit-content;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 0;
}
button.nav-link {
    color: white;
}
button.nav-link:hover {
    color: #E11E5E;
}
.nav-underline .nav-link.active {
    color: #E11E5E;
}
.titulo .nav .nav-underline {
    font-family: 'morgant';
    font-size: 8.28px;
    color: white;
}
.tab-content {
    margin: 25px 0;
    font-family: 'gothamt';
    font-size: 7px;
}
#portafolio {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}
#portafolio .container {
    width: 1195.41px;
    height: 433.59px;
    background: #161A42;
}
.porta {
    display: flex;
    flex-direction: column;
}
.d-flex h4 {
    font-family: 'morgant';
    font-size: 8.28px;
    color: grey;
    margin: 0;
}
.d-flex h2 {
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 0;
    font-size: 50px;
    font-family: 'morgant';
    font-weight: lighter;
    font-size: 27.68px;
    width: fit-content;
}
.d-flex h1 {
    margin: 0;
    font-family: 'modius';
    font-size: 27.68px;
}
.botone {
    background: #E11E5E;
    width: 100.57px;
    height: 27.4px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'morgant';
    font-size: 7.08px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.botone a {
    text-decoration: none;
    color: white;
}
.botone:hover {
    background: red;
}
.card .card-img {
    
}
.proyect-galery {
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: scroll;
}
.pro {
    display: flex;
}
.det {
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 210px;
    height: 210px;
    font-family: 'gotham';
    background: #171C44;
}
.det h4 {
    font-size: 7px;
    margin: 0;

}
.det p {
    margin: 0;
    font-size: 12px ;
}
#servicios {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 50px 0;
}
#servicios .container {
    max-width: 1195.41px;
}
#servicios h4 {
    font-family: 'morgant';
    font-size: 8.28px;
    color: grey;
    margin: 0;
}
#servicios h1 {
    margin: 0;
    font-family: 'modius';
    font-size: 27.68px;
}
#servicios h2 {
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 0;
    font-family: 'morgant';
    font-weight: lighter;
    font-size: 27.68px;
    width: fit-content;
}
.row.col-6.d-flex.align-items-center.justify-content-center div {
    font-family: 'gothamt';
    font-weight: lighter;
    font-size: 7px;
    display: flex;
    justify-content: flex-end;
}
.row.col-6.d-flex.align-items-center.justify-content-center li {
    padding: 5px 0;
    list-style: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.row.col-6.d-flex.align-items-center.justify-content-center li a {
    text-decoration: none;
    color: white;
}
.row.col-6.d-flex.align-items-center.justify-content-center li a:hover {
    font-weight: bold;
}
.redes-sociales {
    max-width: 700px;
    display: flex;
    list-style: none;
}
.redes-sociales li {
    padding: 0 5px;
    font-family: 'gothamt';
    font-size: small;
}
.redes-sociales a{
    text-decoration: none;
    color: white;
}
.certificaciones {
    margin: 50px 10px;
    padding: 0;
}
.certificaciones .container {
    width: 1017.15px;
    height: 327.25px;
    background: #171C44;
}
.certificaciones h4 {
    font-family: 'morgant';
    font-size: 8.28px;
    color: grey;
    margin: 0;
}
.certificaciones h1 {
    margin: 0;
    font-family: 'modius';
    font-size: 27.68px;
}
.certificaciones h2 {
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 0;
    font-family: 'morgant';
    font-weight: lighter;
    font-size: 27.68px;
    width: fit-content;
}
.cursos {
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: scroll;
}
.cursos .std {
    position: relative;
    display: flex;
    justify-content: center;
    width: 171.59px;
    height: 168.08px;
    padding: 10px;
    margin: 5px;
}
.nombre-curso {
    width: 170px;
    position: absolute;
    top: 73px;
    left: 5px;
    font-family: 'modius';
    font-size: 9px;
    display: flex;
    justify-content: center;
}
.descripcion{
    width: 105px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 38px;
    font-family: 'gothamt';
    font-size: 6.11px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fecha {
    width: 80px;
    position: absolute;
    bottom: 11px;
    left: 55px;
    font-family: 'gothamt';
    font-size: 6.11px;
    color: #818181;

}
.card .img-box {
    height: 200px;
}
.card .img-box img {
    width: 100%;
}
.clientes {
    margin: 50px 0;
    display:flex;
    flex-direction: column;
}
.clientes .container {
    width: 1195.41px
}
.clientes h4 {
    font-family: 'morgant';
    font-size: 7px;
    color: grey;
    margin: 0;
}
.card {
    margin: 0;
    padding: 0;
    background: #090E38;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonios-de-clientes {
    background-color: #171C44;
    width: 268.65px;
    height: 170.58px;
    margin: 20px;
    padding: 30px;
    flex-wrap: wrap;
}
.card-text {
    background-color: #171C44;
    font-family: 'gotham';
    font-size: 9px;
    text-align: left;
}
.card-text h6 {
    font-size: 9px;
}
.card-text p {
    font-size: 7px;
}
.clientes .ct {
    font-family: 'morgant';
    font-size: 7.08px;
    border: 1.5px solid;
    border-image: linear-gradient(90deg, rgb(221, 187, 27), rgb(73, 202, 128)) 1;
    text-align: center;
    width: 100.57px;
    height: 27.4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.ct:hover {
    background: #171C44;
}
.clientes h1 {
    margin: 0;
    font-family: 'modius';
    font-size: 27.68px;
}
.clientes h2 {
    margin: 0;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'morgant';
    font-weight: lighter;
    font-size: 27.68px;
    width: fit-content;
}
.empresas {
    display: flex;
    flex-direction: row;
}
.loslogos {
    display: flex;
    justify-content: center;
}
.slog {
    width: 684.15px;
    height: 137.63px;
    display: flex;
    justify-content: center;
}
.colaboraciones {
    display: flex;
    justify-content: center;
    width: 136.83px;
    height: 68.81px;
    border: 0.1px solid;
    border-color: #171C44;
    text-align: center;
    align-items: center;
}
#contacto {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contacto .container {
    width: 1195.41px;
}
#contacto h3 {
    font-family: 'morgant';
    font-size: 11.46px;
}
#contacto p {
    font-size: 9.99px;
}
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 48.28px;
}
.logos-redes-foot {
   justify-content: end;
}
.logos-redes-foot div {
    width: 18px;
    height: 18px;
    padding: 2px;
}
footer p {
    font-size: 6.63px;
}
.d-flex.justify-content-center .cro {
    font-family: 'modius';
    font-size: 43px;
    width: fit-content;
    background: linear-gradient(90deg, rgb(255, 107, 107), rgb(221, 187, 27), rgb(73, 202, 128));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}